<!doctype html>
<html lang="en">
  <head>
    <script src="//cdn.optimizely.com/js/1096093.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bitbucket is the Git solution for professional teams. Collaborate on code with inline comments and pull requests. Manage and share your Git repositories to build and ship software, as a team.">
    <script type="text/javascript"></script>
    


<meta id="bb-canon-url" name="bb-canon-url" content="https://bitbucket.org">

<meta name="bb-view-name" content="bitbucket.apps.marketing.views.homepage">
<meta name="ignore-whitespace" content="False">
<meta name="tab-size" content="None">

<meta name="application-name" content="Bitbucket">
<meta name="apple-mobile-web-app-title" content="Bitbucket">
<meta name="theme-color" content="#205081">
<meta name="msapplication-TileColor" content="#205081">
<meta name="msapplication-TileImage" content="https://d301sr5gafysq2.cloudfront.net/18f0b9db1b28/img/logos/bitbucket/white-256.png">
<link rel="apple-touch-icon" sizes="192x192" type="image/png" href="https://d301sr5gafysq2.cloudfront.net/18f0b9db1b28/img/bitbucket_avatar/192/bitbucket.png">
<link rel="icon" sizes="192x192" type="image/png" href="https://d301sr5gafysq2.cloudfront.net/18f0b9db1b28/img/bitbucket_avatar/192/bitbucket.png">
<link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/favicon.ico">
<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Bitbucket">
    <title>Bitbucket &mdash; The Git solution for professional teams</title>

    
  <link rel="stylesheet" href="https://d301sr5gafysq2.cloudfront.net/18f0b9db1b28/css/entry/marketing.css">

    
  <link rel="canonical" href="https://bitbucket.org">

  </head>

  <body class="production " id="homepage">
      <header class="marketing-header">
      <div class="fixed-width">
        <nav class="marketing-header--nav">
          <h1 class="marketing-header--heading">
            <a href="/">
             <img class="marketing-header--logo" src="https://d301sr5gafysq2.cloudfront.net/18f0b9db1b28/img/homepage/bitbucket-logo-blue.svg" alt="Bitbucket">
            </a>
          </h1>
          <ul class="marketing-header--list">
            
              <li class="marketing-header--item">
                <a id="features-link" class="marketing-header--link" href="/product/features"
                    data-ct="header.features">
                  체험하기
                </a>
              </li>
              
                <li class="marketing-header--item">
                  <a class="marketing-header--link" href="/integrations"
                      data-ct="header.integrations">
                    수강안내
                  </a>
                </li>
              
              <li class="marketing-header--item">
                <a class="marketing-header--link" href="/product/server"
                    data-ct="header.server">
                  선생님찾기
                </a>
              </li>
              
                <li class="marketing-header--item">
                  <a class="marketing-header--link" href="/product/data-center"
                     data-ct="header.datacenter">
                    공지사항
                  </a>
                </li>
              
              <li class="marketing-header--item">
                <a class="marketing-header--link" href="/product/pricing"
                    data-ct="header.pricing">
                  스픽코소개
                </a>
              </li>
              
                <li class="marketing-header--item">
                  <a class="marketing-header--link" href="/account/signin/?next=/"
                      data-ct="header.login">
                    나의 강의실
                  </a>
                </li>
                <li class="marketing-header--item">
                  <a id="sign-up-link" class="marketing-header--link marketing-header--link--primary"
                      data-ct="header.signup"
                      href="/account/signup/">
                    수강신청
                  </a>
                </li>
              
            
          </ul>
        </nav>
      </div>
    </header>
    <main class="marketing-content">
 <section class="marketing-feature-spotlight">
    <div class="fixed-width">
      <h1 class="marketing-feature-spotlight--heading marketing-section--heading marketing-heading">
       스픽코 사용 영상
      </h1>
      <p class="marketing-section--tagline">
       스픽코와 함께 하세요

      </p>
      
    </div>
  </section>
  <video src="https://youtu.be/m6P66ppnnqw">동영상이 로드되지 않았습니다.</video>
  
  <section class="homepage-plans marketing-plans">
    <img class="marketing-plans--icon" src="https://d301sr5gafysq2.cloudfront.net/18f0b9db1b28/img/marketing/homepage/plans-cloud.png" alt="Graphic of a cloud">
    <h1 class="marketing-plans--heading marketing-heading">
      Simple plans hosted in the cloud
    </h1>
    <div class="marketing-plans--content">
      <div class="marketing-plans--card">
        <h2 class="marketing-plans--card-heading marketing-heading">
          Small teams
        </h2>
        <div class="marketing-plans--card-content">
          <div class="marketing-plans--primary-content">
            <p class="marketing-plans--price">
              Free
            </p>
            <p class="marketing-plans--users">
              for up to 5 users
            </p>
          </div>
          <a class="marketing-plans--cta marketing-cta-button" href="/account/signup/">
            Try this plan
          </a>
          <p class="marketing-plans--fine-print">
            No credit card required
          </p>
        </div>
      </div>
      <div class="marketing-plans--calculator marketing-plans--card" data-product="cloud">
        <h2 class="marketing-plans--card-heading marketing-heading">
          Large teams
        </h2>
        <div class="marketing-plans--card-content">
          <div class="marketing-plans--primary-content">
            <p class="marketing-plans--price">
                <span class="marketing-plans--dollar">$</span><span class="marketing-plans--cost">10</span>
            </p>
            <p class="marketing-plans--term">
              Per month
            </p>
            <p class="marketing-plans--users">
              <select class="marketing-plans--user-select">
                <option value="10_users" data-cost="10">10 users</option>
                <option value="25_users" data-cost="25">25 users</option>
                <option value="50_users" data-cost="50">50 users</option>
                <option value="100_users" data-cost="100">100 users</option>
                <option value="unlimited_users" data-cost="200">Unlimited users</option>
              </select>
            </p>
          </div>
          <a class="marketing-plans--cta marketing-cta-button" href="/account/signup/?plan=10_users">
            Get this plan
          </a>
          <p class="marketing-plans--fine-print">
            Free for 30 days
          </p>
        </div>
      </div>
    </div>
    <a class="marketing-plans--secondary-link" href="https://www.atlassian.com/software/bitbucket/download">
      Want to host on your own server?
    </a>
  </section>
  <section class="marketing-git-tutorials">
    <a class="marketing-git-tutorials--cta" href="https://www.atlassian.com/git" target="_blank">
      Free Git tutorials
    </a>
  </section>

    </main>
    <footer class="marketing-footer">
      <ul class="marketing-footer--list">
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              target="_blank"
              href="http://blog.bitbucket.org">Blog</a>
        </li>
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              target="_blank"
              href="/support">Support</a>
        </li>
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              href="/plans">Plans &amp; pricing</a>
        </li>
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              target="_blank"
              href="//confluence.atlassian.com/display/BITBUCKET">Documentation</a>
        </li>
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              target="_blank"
              href="//confluence.atlassian.com/x/IYBGDQ">API</a>
        </li>
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              target="_blank"
              href="http://status.bitbucket.org/">Site status</a>
        </li>
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              target="_blank"
              href="//www.atlassian.com/legal/customer-agreement">Terms of service</a>
        </li>
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--link"
              target="_blank"
              href="//www.atlassian.com/legal/privacy-policy">Privacy policy</a>
        </li>
      </ul>
      <ul class="marketing-footer--list">
        <li class="marketing-footer--item">
          <a
              id="atlassian-jira-link"
              class="marketing-footer--link"
              target="_blank"
              title="Track everything – bugs, tasks, deadlines, code – and pull reports to stay informed."
              href="https://www.atlassian.com/software/jira/bitbucket-integration?utm_source=bitbucket&amp;utm_medium=link&amp;utm_campaign=bitbucket_footer">JIRA Software</a>
        </li>
        <li class="marketing-footer--item">
          <a
              id="atlassian-confluence-link"
              class="marketing-footer--link"
              target="_blank"
              title="Content Creation, Collaboration & Knowledge Sharing for Teams."
              href="http://www.atlassian.com/software/confluence/overview/team-collaboration-software?utm_source=bitbucket&amp;utm_medium=link&amp;utm_campaign=bitbucket_footer">Confluence</a>
        </li>
        <li class="marketing-footer--item">
          <a
              id="atlassian-bamboo-link"
              class="marketing-footer--link"
              target="_blank"
              title="Continuous integration and deployment, release management."
              href="http://www.atlassian.com/software/bamboo/overview?utm_source=bitbucket&amp;utm_medium=link&amp;utm_campaign=bitbucket_footer">Bamboo</a>
        </li>
        <li class="marketing-footer--item">
          <a
              id="atlassian-sourcetree-link"
              class="marketing-footer--link"
              target="_blank"
              title="A free Git and Mercurial desktop client for Mac or Windows."
              href="http://www.sourcetreeapp.com/?utm_source=bitbucket&amp;utm_medium=link&amp;utm_campaign=bitbucket_footer">SourceTree</a>
        </li>
        <li class="marketing-footer--item">
          <a
              id="atlassian-hipchat-link"
              class="marketing-footer--link"
              target="_blank"
              title="Group chat and IM built for teams."
              href="http://www.hipchat.com/?utm_source=bitbucket&amp;utm_medium=link&amp;utm_campaign=bitbucket_footer">HipChat</a>
        </li>
      </ul>
      <ul class="marketing-footer--list">
        <li class="marketing-footer--item">
          <a
              class="marketing-footer--logo marketing-footer--link"
              href="http://www.atlassian.com/?utm_source=bitbucket&utm_medium=logo&utm_campaign=bitbucket_footer" target="_blank">Atlassian</a>
        </li>
      </ul>
    </footer>

    
    
    
  <div class="marketing-overlay">
    <div class="marketing-overlay--modal">
      <a class="marketing-overlay--close" href="#">&times;</a>
      <div class="marketing-overlay--content"></div>
    </div>
  </div>
  
    <script src="https://d301sr5gafysq2.cloudfront.net/18f0b9db1b28/dist/webpack/marketing.js"></script>
    <script>
  (function () {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  }());
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
  

    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","queueTime":0,"licenseKey":"a2cef8c3d3","agent":"","transactionName":"Z11RZxdWW0cEVkYLDV4XdUYLVEFdClsdAAtEWkZQDlJBGgRFQhFMXVlBWABDXFoCG0QLB0dLCUEKWEE=","applicationID":"1841284","errorBeacon":"bam.nr-data.net","applicationTime":11}</script>
  </body>
</html>
